version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: agendadb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  api:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      - db
      - rabbitmq
    environment:
      ConnectionStrings__DefaultConnection: Host=db;Database=agendadb;Username=devuser;Password=devpassword
      ASPNETCORE_URLS: http://+:8080

volumes:
  postgres_data:
